@model System.Collections.Generic.List<Estate>
@{int rowNumber = 0;}

<h1>Welcome Admin!</h1>
<h3>You can:</h3>
<ul>
    <li>Aprove estate offers</li>
    <li>Ban or unban estate offers</li>
    <li>Delete estate offers</li>
    <li>See all Arvhived estate offers</li>
    <li>All users and brokers</li>
</ul>

<div>
    <h2>
        All unpublished estates!
    </h2>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Estate Id</th>
                <th scope="col">Created by</th>
                <th scope="col">Created on</th>
                <th scope="col">Edited on</th>
                <th scope="col">Archived on</th>
                <th scope="col">Banned on</th>
                <th scope="col">Count of Reports</th>
                <th scope="col">Count of Comments</th>
                <th scope="col">Count of Notes</th>
                <th scope="col">Is Archived</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Estate estate in Model)
            {
                <tr>
                    <th scope="row">@(rowNumber += 1)</th>
                    <td>@estate.Id</td>
                    <td>@estate.Broker.Name</td>
                    <td>@estate.CreatedOn</td>
                    <td>@estate.EditedOn</td>
                    <td>@estate.ArchivedOn</td>
                    <td>@estate.BannedOn</td>
                    <td>@estate.Comments.Count</td>
                    <td>@estate.Reports.Count</td>
                    <td>@estate.Notes.Count</td>
                    <td>@estate.IsArchived</td>
                </tr>
            }

        </tbody>
    </table>
</div>
