@model AllEstateQueryModel
@{
    ViewData["title"] = "All Properties";

    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalEstates / Model.EstatesPerPage);
}

@if (!Model.EstateListingViewModels.Any())
{
<div class="jumbotron-fluid">
    <h2 class="display-4"> Currently there is no estates in out database. <a href="favicon.ico">Register</a> as broker and add one.</h2>
    <hr class="my-4">
</div>
}
else
{
    <div class="container">
        <h3 class="pb-3">All Properties: </h3>
        <div class="row">
            @foreach (var estate in Model.EstateListingViewModels)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="card-group">
                        <div class="card mb-3">
                            <img class="card-img-top" height="286px" width="180px" src="data:image/jpeg;base64,@Convert.ToBase64String(estate.Image.ImageContentBytes)" alt="Card image cap"> @*Picture*@
                        <div class="card-body">
                            <h5 class="card-title">@estate.Title</h5> @*Title*@
                            <p class="card-text">@estate.Description</p> @*Description*@
                            <a asp-controller="Estates" asp-action="Details" asp-route-id="@estate.Id" class="btn btn-primary">Details for property</a>
                            @if (User.IsAdmin())
                            {
                                <a asp-controller="Estates" asp-action="Edit" asp-route-id="@estate.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="Estates" asp-action="Delete" asp-route-id="@estate.Id" class="btn btn-danger">Delete</a>
                            }
                        </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container pb-3">
        <div class="row pt-3 pb-2">
            <div class="col text-left">
                <a class="btn btn-primary btn-sm @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                   asp-controller="Estates"
                   asp-action="All"
                   asp-route-currentPage="@previousPage">Previous</a>
            </div>
            <div class="col text-right">
                <a class="btn btn-primary btn-sm @(Model.CurrentPage >= maxPage ? "disabled" : string.Empty)"
                   asp-controller="Estates"
                   asp-action="All"
                   asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
            </div>
        </div>
    </div>
}